<!DOCTYPE html>
<html>
<head>
	<title>Web Chat</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--meta http-equiv="refresh" content="5"-->
	<link rel="stylesheet" type="text/css" href="sheet.css">
</head>
<body>
	<header class="headpart">
		<h1>Welcome</h1>
	</header>
	<main>
		<div class="msgbox">
			<form method="post">
				<input autofocus type="text" name="Textarea">
				<input type="submit" name="submit" value="Send">
			</form>
		</div>
		<div class="chatbox">
			<ul>
				{% if not (data == 'Empty') %}
					{% for d in data%}
						<li>
							<span id="inline">{{ d[0] }}</span>
						 	<span id="time">{{ d[1] }}</span>
						</li>
					{% endfor %}
				{% else %}
					<li>
						<span id="inline">{{ data }}</span>
					</li>
				{% endif %}
			</ul>
		</div>
	</main>
</body>
</html>