.chatbox {
	border: 2px solid black;
	padding: 5px;
	margin-top: 10px
}
.msgbox {
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
}
.headpart {
	text-align: center;
}
#inline {
	font-size: 2em;
}
#time {
	font-size: 0.5em;
	float: right;
}